.settings

	&__input
		
		&:not(:last-child)
			margin-bottom: .8rem

	&__section
		margin-bottom: 2rem

		&__group
			border: 1px solid #eee
			border-radius: .3rem
			padding: 1rem
			
			&__item
				display: flex
				flex-direction: row
				align-items: center

				p
				
					a
						border-bottom: 1px solid #00adb5

				&:not(:first-child)
					padding-top: .8rem

				&:not(:last-child)
					padding-bottom: .8rem
					border-bottom: 1px solid #eee
			p
				font-size: 14px
